<div data-control="toolbar">
    <button
        class="btn btn-primary oc-icon-plus"
        data-control="popup"
        data-handler="onPopupForm"
    >
        <?= Lang::get('empu.onedata::lang.settings.new_bloodtype') ?>
    </button>
<?php /*
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Blood Types?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator
    >
        Hapus
    </button>
*/ ?>
</div>
