<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="m-a-0"><?= $title ?></h4>
</div>

<div class="modal-body">

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout', 'id' => $this->formGetId('popup-form')]) ?>

        <?= $this->formRender() ?>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>

<?php endif ?>
</div>

<div class="modal-footer" style="padding: 15px 20px 15px 20px;">
    <div class="loading-indicator-container">
    <?php if ($model->exists): ?>
        <button
            type="button"
            class="oc-icon-trash-o btn-icon danger pull-left"
            data-request="onDelete"
            data-request-data="manage_id: <?= $model->getKey() ?>"
            data-load-indicator="Deleting..."
            data-request-confirm="Delete this?">
        </button>
        <button
            type="submit"
            data-request="onUpdate"
            data-request-data="manage_id: <?= $model->getKey() ?>"
            data-request-form="#<?= $this->formGetId('popup-form') ?>"
            data-hotkey="ctrl+s, cmd+s"
            data-load-indicator="Saving..."
            class="btn btn-primary">
            <u>S</u>impan
        </button>

    <?php else: ?>

        <button
            type="submit"
            data-request="onCreate"
            data-request-form="#<?= $this->formGetId('popup-form') ?>"
            data-hotkey="ctrl+s, cmd+s"
            data-load-indicator="Saving..."
            class="btn btn-primary">
            <u>S</u>impan
        </button>

    <?php endif ?>
    </div>
</div>